<div class="container index">
    <form class="form-group-lg" id="newAsk-form">
        <div class="input-group">
            <input type="text" class="form-control" id="newAsk" placeholder="Write your question here">
            <span class="input-group-btn">
                <button class="btn btn-primary btn-lg" type="button" id="askLampa">ASK Lampa</button>
            </span>
        </div>
    </form>
    <br>
    <form class="form-group" id="searchAsk">
        <div class="input-group">
            <span class="input-group-btn" id="cancelSearch">
                <button class="btn btn-danger" type="button" id="cancelSearchBtn">Cancel search</button>
            </span>
            <input type="text" class="form-control required" id="terms" placeholder="Write your search terms here">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Find an ASK</button>
            </span>
        </div>
    </form>
    <hr>
    <h2>
        <div class="col-sm-2" style="float: right;">
            <select name="order" class="form-control">
                <option value="trending">Trending</option>
                <option value="newest">Newest</option>
                <option value="following">Following</option>
                <option value="mine">Mine</option>
            </select>
        </div>
        Bulletin Board<br/>
    </h2>

    <br/>

    <div id="asks" style="margin-bottom: 100px;"></div>

</div>

<div class="row">
    <div id="modalAsk" class="col-sm-offset-1 col-sm-10 modal fade" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal">
                    <div class="form-group" style="padding: 0px 20px 0px 20px;">
                        <input type="text" class="form-control input-lg" id="askQuestion" placeholder="Write your question here... (required)">
                        <div id="askContent" class="form-control" placeholder="Write details about your question here, if you want. (not required)"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="saveAsk" type="button" class="btn btn-primary" data-dismiss="modal">Ask LAMPA</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>