<div class="col-sm-"><h2>Invite Peers</h2></div>
<div class="alert alert-warning"><b>Warning!</b> This feature is under construction.</div>
<div class="panel panel-default">
    <div class="panel-body">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="fullName">Peer Name</label>
                <div class="col-sm-10">
                    <input id="fullName" name="abbr" class="form-control" type="text" value="" size="100"
                           placeholder="Peer Name"
                           maxlength="100" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email</label>
                <div class="col-sm-10">
                    <input id="email" name="email" class="form-control" type="email" value="" size="100"
                           maxlength="100" required="required"/>
                </div>
            </div>
            <div id="message" placeholder="write a message">
                <p>Hello, </p>
                <p>I would like to invite you to join MyLAMPA network.<br/>
                    LAMPA is a free service that lets you plan and track your lessons more quickly and easily.</br>
                    Thanks for connecting!
                </p>
                <br/>
            </div>
        </form>
    </div>
    <div class="panel-footer text-right">
        <button id="back" type="button" class="btn btn-default">Back</button>
        <button id="send" type="button" class="btn btn-primary" disabled>Send an Email</button>
    </div>
</div>