<div class="panel panel-default">
    <div class="panel-heading">Password Change</div>
    <div class="panel-body">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-3" for="old-pwd">Old Password</label>
                <div class="col-sm-9">
                    <input id="old-pwd" class="form-control" type="password">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="new-pwd">New Password</label>
                <div class="col-sm-9">
                    <input id="new-pwd" class="form-control" type="password">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="re-pwd">Confirm password</label>
                <div class="col-sm-9">
                    <input id="re-pwd" class="form-control" type="password">
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <input class="btn btn-primary" type="button" id="apply" value="Change password"/>
    </div>
</div>