<div class="jumbotron">
    <h1>Welcome to LAMPA!</h1>
    <p>LAMPA is a very useful learning and lesson tracking tool.<br/>
        If you have not already done so, you can download the free LAMPA app.
    </p>
    <div class="row">
        <div class="col-sm-4 text-center">
            <a href='https://play.google.com/store/apps/details?id=pl.kosok.mylampa&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
                    class="googlePlay-icon" alt='Get it on Google Play'
                    src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
        </div>
        <div class="col-sm-4 text-center">
            <a href=''><img class="appStore-icon" alt='Download on the APP Store'
                            src='https://devimages.apple.com.edgekey.net/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg'/></a>
        </div>
        <div class="col-sm-4 text-center">
            <img class="appStore-icon"
                 src="https://assets.windowsphone.com/f2f77ec7-9ba9-4850-9ebe-77e366d08adc/English_Get_it_Win_10_InvariantCulture_Default.png"
                 alt="Get it on Windows 10">
        </div>
    </div>
    <div class="well">
        <ul>
            <li>
                <p>To use access and build your vocabulary records click on
                    <span class="glyphicon glyphicon-book"></span> <strong>MY DICTIONARY</strong>.<br/>
                    To add words in My Dictionary, click on
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button>
                    .
                </p>
            </li>
            <li>
                <p>To play vocabulary games on your mobile device, Click on
                    <span class="glyphicon glyphicon-tower"></span> <strong>MY GAMES</strong>.
                </p>
            </li>
            <li>
                <p>To access your lessons or to report absences and excuses, click on
                    <span class="glyphicon glyphicon glyphicon-list-alt"></span> <strong>MY LESSONS</strong>.<br/>
                    To open a lesson,click on the lesson.</p>
            </li>
            <li>
                <p>To access homework and attendance records, click on
                    <span class="glyphicon glyphicon-pencil"></span> <strong>MY STUDIES</strong>
                    .
                </p>
            </li>
        </ul>
    </div>
    <div class="well">
        <p class="text-center">We hope you find LAMPA beneficial to your learning!</p>
    </div>
</div>



