<div class="jumbotron">
    <h1>Welcome to LAMPA!</h1>
    <p>LAMPA is a powerful, yet very user-friendly, set of tools for teachers, students and language schools.
        Once you are all set up, it will save you time, it will facilitate lesson continuity, and it can help you
        supplement you income.</p>
    <div class="well">
        <p> Don’t forget to invite other teachers and schools to become LAMPA partners and to use LAMPA also!
            The more teachers and students who use the system based on your initial invitation, the more you can
            supplement your regular teaching income.
            To invite teachers so that they can start using LAMPA’s tools for free, do the following:</p>
        <ol>
            <li><p>Click on <span class="glyphicon glyphicon-send"></span> <strong>INVITE PEERS</strong></p></li>
            <li><p>Enter the teacher’s e-mail address</p></li>
            <li><p>Personalize the invitation message</p></li>
            <li>
                <p>Click on
                    <strong>Send</strong>
                </p>
            </li>
        </ol>
    </div>
    <div class="well">
        <h2>How can LAMPA supplement a partner’s income?</h2>
        <p>LAMPA provides mobile learning games, personal dictionaries and course tracking tools for students.
            When students download the app and buy a 1-year license, a portion of the purchase price goes directly back
            to the teacher or school that has invited the student; another portion goes back to the teacher or the
            school that
            invited that teacher, and so on.
            This is repeated on five levels. Simply, the more new users you invite, the more you can earn.</p>
    </div>
</div>



