<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Teachers</div>
            <div id="teachers" class="panel-body"></div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Locations</div>
            <div id="locations" class="panel-body"></div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Groups</div>
            <div id="groups" class="panel-body"></div>
        </div>
    </div>
</div>