<div class="well">
    <div class="row">
        <div class="col-xs-7">
            <span class="groups group-<%- icon %>"></span>
            <strong><%-abbr%></strong> - <span><%-name%></span>
            <span><%- description!=='' ? ' - ':'' %><%- description %></span>
        </div>
        <div class="btn-group-vertical col-xs-5">
            <button class="btn btn-default timetable">Timetable</button>
            <button class="btn btn-default edit">Edit</button>
        </div>
    </div>
</div>
