<div class="panel panel-default">
    <div class="panel-heading">Students</div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <% if (isAdmin()){%>
    <div class="panel-footer">
        <button id="add" class="btn btn-primary">Add Student</button>
    </div>
    <% } %>
</div>