<h2 class="col-sm-12">Add Lessons</h2>
<div class="col-sm-12" id="lessons"></div>
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <form role="form" class="form-horizontal">
                <div class="form-group form-group-last">
                    <label class="control-label col-sm-1" for="groupID">Group</label>
                    <div class="col-sm-6">
                        <div id="group">
                            <select class="form-control" id="groupID"></select>
                        </div>
                    </div>
                    <div class="col-sm-5 text-right">
                        <button class="btn btn-primary" id="add-group">Add Group ...</button>
                        <button class="btn btn-primary" id="add-location">Add Location ...</button>
                        <button class="btn btn-primary" id="add-teacher">Add Teacher ...</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body" id="batches"></div>
        <div class="panel-footer">
            <button id="add" class="btn btn-default">Add</button>
            <button id="run" class="btn btn-primary">Generate Lessons</button>
        </div>
    </div>
</div>