<div class="hidden">
    <div id="group-in-conflict-panel" class="panel panel-default">
        <div class="panel-heading ">Group in Conflicts</div>
        <div class="panel-body group-conflicts item"></div>
    </div>
    <div id="location-conflicts-panel" class="panel panel-default">
        <div class="panel-heading ">Location in Conflicts</div>
        <div class="panel-body location-conflicts item"></div>
    </div>
    <div id="teachers-conflicts-panel" class="panel panel-default">
        <div class="panel-heading">Teachers in Conflicts</div>
        <div class="panel-body teachers-conflicts item"></div>
    </div>
</div>