<td></td>
<td>
    <span class="<%- getStatusClass(status) %>"></span>
    <span>&nbsp;<%- getStatusClass(status) %></span>
</td>
<td>
    <span class="visible-sm"><%- getShortDayName(start) %></span>
    <span class="hidden-sm"><%- getDayName(start) %></span>
</td>
<td><%- getDay(start) %></td>

<td><%- getTime(start)+ ' - ' + getTime(end) %></td>
<td class="text-center">
    <span><%- getDuration(start,end) %></span>
    <span class="visible-sm">min</span>
    <span class="hidden-sm">minutes</span>
</td>
<td class="text-center">
    <div class="location-<%- locationID %>"></div>
</td>
<td class="text-center">
    <div class="group-<%- groupID %>"></div>
</td>
<td class="text-center">
    <div class="course id-<%- courseID %>"></div>
</td>
<td class="text-center">
    <% _.each( teachers, function(teacher){ %>
    <div class="teacher-<%- teacher.personID %>"></div>
    <% }); %>
</td>