<div class="panel panel-default">
    <div class="panel-heading">New Lessons</div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Day</th>
                <th>From</th>
                <th>To</th>
                <th>Duration</th>
                <th>Location</th>
                <th>Group</th>
                <th>Course</th>
                <th>Teacher</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody class="center"></tbody>
        </table>
    </div>
    <div class="panel-footer">
        <button id="saveLessons" class="btn btn-primary">Save All Lessons</button>
        <button id="cleanLessons" class="btn btn-default">Clear List</button>
    </div>
</div>
