<td>
    <input class="term form-control"
           name="term"
           type="text"
           value="<%- term %>"
           maxlength="68" required="required"
           autocomplete="on"
           placeholder="a new word or phrase"/>
</td>
<td>
    <input class="translation form-control"
           type="text"
           value="<%- translation %>"
           placeholder="note or translation"
           maxlength="23"
           autocomplete="on"/>
</td>
<td>
    <button type="button" class="delete btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
</td>

