<h2 class="col-xs-12">School</h2>
<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="name">School Name</label>
                    <div class="col-sm-9">
                        <p id="name" class="form-control-static"><%- name %></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="abbr">Abbreviation</label>
                    <div class="col-sm-2">
                        <p id="abbr" class="form-control-static"><%- abbr %></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="email">Email</label>
                    <div class="col-sm-8">
                        <p id="email" class="form-control-static"><%- email %></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="www">WWW</label>
                    <div class="col-sm-8">
                        <p id="www" class="form-control-static"><%- www %></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="abbr">Lesson Duration</label>
                    <div class="col-sm-2">
                        <p id="lessonDuration" class="form-control-static"><%- lessonDuration %> Minutes</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="businessHoursFrom">Business hours from</label>
                    <div class="col-sm-2">
                        <p id="businessHoursFrom" class="form-control-static"><%- businessHoursFrom %></p>
                    </div>
                </div>
                <div class="form-group">

                    <label class="control-label col-sm-3" for="businessHoursTo">Business hours to</label>
                    <div class="col-sm-2">
                        <p id="businessHoursTo" class="form-control-static"><%- businessHoursTo %></p>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <input class="btn btn-primary" type="button" id="back" value="Back"/>
            <input class="btn btn-primary" type="button" id="edit" value="Edit"/>
        </div>
    </div>
</div>